body{
    font-family: "Raleway";
    text-align: center;
}

h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.3;
}

h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-weight: bold;
    font-size: 1.5rem;
}

p{
    color:#8f8f8f
}

.container-fluid{
    padding: 7% 15%;
}

.colored-section{
    background-color: #ff4c68;
    color: #fff;
}

.white-section{
    background-color: #fff;
}  


/* Navigation Bar */

nav{
    position: sticky;
    top: 0;
}

.navbar{
    margin-bottom: 4.5rem;
}

.navbar-brand{
    font-weight: bold;
    font-size:2.5rem ;
}

.nav-item{
    padding: 0 20px;
}

.nav-link{
    font-size: 1.2rem;
}


/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 21%;
    transform: rotate(25deg);
    position: absolute;
    right: 24%;
}


/* Features Section */

#features{
    position: relative;
}

.feature-box{
padding: 4.5%;
}


/* Testimonial Section */

#testimonials{
    background-color: #ef8712;
}

.testimonial-image{
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */
#press{
    background-color: #ef8712;
    padding-bottom: 3%;
}

.press-logo{
    width: 13%;
    margin: 20px 20px;
}

/* Pricing Section */

#pricing{
    padding: 10%;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA Section (Call to Action) */

.cta-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    width: 90%;
    margin: auto;
}


/* Footer Section */

.social-icon{
    margin: 20px 10px;
    color: rgb(39, 34, 34);
}

.icon{
    color: #ef8712;
}

.icon:hover{
    color: #ff4c68;
}



/* Media Section */

@media(max-width:991px){

    #title .container-fluid{
        text-align: center;
    }
    
   .title-image{
    position: static;
    transform: rotate(0);
    width: 60%;
   }
}